<link rel="stylesheet" href="/stylesheets/style.css" />
<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1>Create a new account</h1>
  <div class="sign-in">

    <form action="/auth/sign-up" method="post">
      <label>Username: </label>
      <input type="text" name="username" id="username" required/>
      <br /><br />
      <label>Password: </label>
      <input type="password" name="password" id="password" required/>
      <br /><br />
      <label>Confirm Password:</label>
      <input type="password" name="confirmPassword" id="confirmPassword" required/>
      <br /><br />
      <button type="submit">Sign Up</button>
    </form>
    <form action="/auth/sign-up" method="POST"></form>



  </div>

</body>
