<body>
  <h1>User Book List</h1>
  <ul>
      <% books.forEach(book => { %>
          <li>
              <strong>Book Name:</strong> <%= book.bookName %><br>
              <strong>Reading Status:</strong> <%= book.readingStatus %>
          </li>
      <% }); %>
  </ul>
</body>