<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Document</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1>Bibliophile</h1>
  <h2 id="lover">(n.) a lover of Books </h2>
  <div class="about-us">

    <h2 id="about">About Us</h2>
    <p>
      Welcome to "Bibliophile" a website were booklovers can track their reading lists and browse for new books.
    </p>
  
    <a id="views-all" href="/books/book-page">View All Books</a>

  </div>
  
</body> 
</html>