<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <a href="/books">Home </a>
  <a href="/books/show">My List</a>
  <a href="/books/book-page">Books </a>
  <a href="/books/profile">My Profile</a>
  <h1>Bibliophile</h1>
  <h1>welcome to the main page</h1>
  <h2>About Us</h2>

  <a href="/books/book-page">View All Books</a>
  
</body> 
</html>