<nav>
  <div id="navbar">
    <% if (user) { %>
      <!-- Links for logged-in users -->
       <div class="nav1">
         <a href="/books">Home </a>
         <a href="/booklists/booklist">My List </a>
         <a href="/books/book-page">Books </a>
         <a href="/books/show">My Profile </a>
       </div>
      <a href="/auth/sign-out" class="out">Sign out</a>
    
    <% } else { %>
      <!-- Links for logged-out users -->
      <a href="/auth/sign-up">Sign-up</a>
      <a href="/auth/sign-in">Sign-in</a>
    <% } %>

  </div>

</nav>
