<nav>
  <% if (user) { %>
    <!-- Links for logged-in users -->
    <a href="/books">Home</a>
    <a href="/books/show">My List</a>
    <a href="/books/book-page">Books</a>
    <a href="/books/show">My Profile</a>
    <a href="/auth/sign-out">Sign out</a>
  
  <% } else { %>
    <!-- Links for logged-out users -->
    <a href="/auth/sign-up">Sign-up</a>
    <a href="/auth/sign-in">Sign-in</a>
  <% } %>

</nav>
